.taskItem {
    gap: 15px;
    line-height: initial;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    align-items: center;
    justify-items: flex-start;
    align-items: normal;
}

.taskText {
    font-size: 16px;
    cursor: pointer;
}

.taskDone {
    color: gray;
    text-decoration: line-through;
}

.checkbox {
    width: 16px;
}

.delete {
    cursor: pointer;
}